{% extends "base.html" %}
{% block title %}
    <title>Home page</title>
{% endblock %}
{% block content %}
<h1>Welcome to the Restaurant Kitchen Service</h1>
    <h3>Streamlining dishes, cooks, and ingredients with ease</h3>
    <ul>
        <li><strong>Dish types:</strong> {{ num_dish_types }}</li>
        <li><strong>Dishes:</strong> {{ num_dishes }}</li>
        <li><strong>Cooks:</strong> {{ num_cooks }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endblock %}
